body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
}

header {
    padding: 20px;
    background-color: #444;
}

nav a {
    margin: 10px;
    color: #00ff99;
    text-decoration: none;
}
